﻿body {
    margin: 0;
    padding: 0;
    color: black;
}

A {
    color: black;
}

    A:visited {
        color: lightblue;
    }

header {
    background-color: black;
    color: lightblue;
}

    header h2 {
        display: inline-block;
        margin-right: 10px;
    }

    header nav {
        display: inline-block;
    }

        header nav a {
            text-decoration: none;
        }

header, main, footer {
    padding-left: 75px;
    padding-right: 75px;
}

h1, h2 {
    font-weight: lighter;
}
#x, #y {
    padding: 7px;
    border: 3px solid #f3e05c;
    border-radius: 10px;
    width: 170px;
}
#operation {
    border: 3px solid #f3e05c;
    border-radius:10px;
}